header {
  display: flex;
  flex-direction: column;
  gap: $spc-default;
  align-items: center;
  justify-content: center;
  padding: $spc-default;
  background: $clr-second;
  color: $clr-white;

  .brand {
    font-family: $ff-heading;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: $clr-white;
    transition: all 150ms;

    span {
      color: $clr-prime;
      transition: all 150ms;
    }

    &:hover {
      color: $clr-prime;

      span {
        color: darken($clr-prime, 5%);
      }
    }
  }

  .clicker-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spc-small;
    width: 100%;
    text-align: center;

    > div {
      background: transparentize($clr-white, 0.8);
      padding: $spc-small $spc-default;
      border-radius: $spc-small;

      &::before {
        display: block;
        font-size: 1.1rem;
        text-transform: uppercase;
      }
    }

    &__counter {
      &::before {
        content: "Clicks";
      }
    }

    &__cpc {
      &::before {
        content: "CPC";
      }
    }

    &__cps {
      &::before {
        content: "CPS";
      }
    }
  }
}
