$clr-second: #222f3e;
$clr-prime: #00d2d3;
$clr-light: #c8d6e5;
$clr-white: #ffffff;
$clr-muted: #576574;
$clr-alert: #ee5253;

$spc-default: 2rem;
$spc-small: 1rem;
$spc-large: 5rem;

$ff-default: "Roboto", sans-serif;
$ff-heading: "Anton", sans-serif;
$fw-default: 400;
$fs-default: 1.6rem;
